@import "tailwindcss";

@theme {
  --color-bakery-pink: #FFB7CE;
  --color-bakery-pink-dark: #C15C7A;
  --color-bakery-cream: #FFFCF9;
  --color-bakery-brown: #3B2621;
  --font-script: "Dancing Script", cursive;
  --font-body: "Poppins", sans-serif;
}